.Pokecard {
  width: 21%;
  padding: 10px;
  box-shadow: 7px 10px 12px -10px rgba(0,0,0,0.2);
  text-align: center;
  background-color: #fff;
  border-radius: 9px;
}

.Pokecard-data {
  font-size: 80%;
}

.Pokecard-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.Pokecard-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.Pokecard img {
  transition: all ease 500ms;
  width: 215px;
  height: auto;
}

.Pokecard img:hover {
  transform: scale(1.25);
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .Pokecard-img {
    height: 230px;
  }
  .Pokecard img {
    width: 200px;
  }
}
@media screen and (max-width: 900px) {
  .Pokecard-img {
    height: 215px;
  }
  .Pokecard img {
    width: 185px;
  }
  /* Pokecard */
  .Pokecard {
    width: 30%;
    margin: 10px;
  }
}
@media screen and (max-width: 768px) {
  .Pokecard-img {
    height: 200px;
  }
  .Pokecard img {
    width: 170px;
  }
  /* Pokecard */
  .Pokecard {
    width: 35%;
  }
}
@media screen and (max-width: 600px) {
  .Pokecard-img {
    height: 185px;
  }
  .Pokecard img {
    width: 155px;
  }
  /* Pokecard */
  .Pokecard {
    width: 37%;
  }
  /* Pokecard title */
  .Pokecard-title {
    font-size: 1.2rem;
  }  
}
@media screen and (max-width: 480px) {
  .Pokecard-img {
    height: 170px;
  }
  .Pokecard img {
    width: 140px;
  }
}